body {
    background: #525252;
}
header {
    background: #313131;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    color: #FAF3F3;
    padding: 2%;
    font-family: 'Roboto', sans-serif;
    line-height: 0%;
}
 h1 {
    color: #CA3E47;
    left: .34%;
    text-align: left;
}

.buttons{
  background-color: #CA3E47;
  box-shadow: 2px 2px 7px 1px #FAF3F3;
  font-family: Roboto;
   font-size: 25px;
  font-style: normal;
  font-weight: bold;
  line-height: 25px;
  padding: 25px;
  border-radius: 9px;
  display: table-cell;
    vertical-align: middle;
    display:block;
 margin-left: auto;
 margin-right: auto;
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 100%; /* Full width */
  height: 150%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(37, 36, 36, 0.53); /* Black w/ opacity */  
  left: 50%;
  top: 70%; 
  transform: translate(-50%, -50%);
}

/* Modal Content/Box */
.modal-content {
  background-color: #000000;
  color: white;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 45%; /* Could be more or less, depending on screen size */
  height: 50%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.flip-card{
    display: inline;
  float: left;
  font-size:15px;
  line-height: 0;
  width: 20%;
  height: 100%;
}