body {
    background: #525252;
}
header {
    background: #313131;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    color: #FAF3F3;
    padding: 2%;
    font-family: 'Roboto', sans-serif;
    line-height: 0%;
}
 h1 {
    color: #CA3E47;
    left: .34%;
    text-align: left;
}

.buttons{
  background-color: #CA3E47;
  box-shadow: 2px 2px 7px 1px #FAF3F3;
  font-family: Roboto;
   font-size: 25px;
  font-style: normal;
  font-weight: bold;
  line-height: 25px;
  padding: 25px;
  border-radius: 9px;
  display: table-cell;
    vertical-align: middle;
    display:block;
 margin-left: auto;
 margin-right: auto;
}
