body {
    background: #525252;
      text-align:center;
}
header {
    background: #313131;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    color: #FAF3F3;
    padding: 2%;
    font-family: 'Roboto', sans-serif;
    line-height: 0%;
}
 h1 {
    color: #CA3E47;
    left: .34%;
    text-align: left;
}

.buttons{
  background-color: #CA3E47;
  font-family: Roboto;
   font-size: 35px;
  font-style: normal;
  font-weight: bold;
  line-height: 25px;
  padding: 25px;
  border-radius: 9px;
  display: table-cell;
  vertical-align: middle;
  display:block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 4%;
}

.buttons:hover{
  box-shadow: 2px 2px 7px 1px #FAF3F3;
}

.modalB {
  background-color: black;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  border-radius: 9px;
  display: table-cell;
    vertical-align: middle;
    display:block;
 margin-left: auto;
 margin-right: auto;
 color: white;
 margin-top: 3  %;
 font-size: 15px;
 padding: 2%;
 width: 70px;
}

.modalB:hover{
  box-shadow: 2px 2px 7px 1px #FAF3F3;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 100%; /* Full width */
  height: 150%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(37, 36, 36, 0.6); /* Black w/ opacity */
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}

/* Modal Content/Box */
.modal-content {
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 45%; /* Could be more or less, depending on screen size */
  height: 50%;
  background-color: black;
  color: white;
  font-size: 1.2em;
  padding-left: 1%;
  padding-right: 1%;
  text-align: left;

}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#cardPic{
  height: 450px;
  width: 350px;
}

.flip-card {
  background-color: #CA3E47;
  align: center;
  float: left;
  width: 450px;
  height: 550px;
  margin: 1%;
  border-radius: 9px;
}

/* box shadow when you move the mouse over the flip box container */
.flip-card:hover {
  box-shadow: 2px 2px 7px 1px #FAF3F3;
}


.flip-card-front {
  text-align: center;
  background-color: #CA3E47;
  padding-top: 10%;
  border-radius: 9px;
}

#cardTitle {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: .4%;
  margin-bottom: .2%;
}

footer{
  background-color:  #313131;
  position:fixed;
 left:0px;
  bottom: 0px;
  width: 100%;
  height: auto;
}

a, #credits{
font: "Roboto";
color:#FAF3F3;
text-underline-position: auto;
}

 #btnHome{
  position: relative;
 float: right;
 }
 .flip-card2 {
  background-color: #CA3E47;
  position: absolute;
  left: 250px;
  width: 350px;
  height: 450px;
  margin: 1%;
  border-radius: 9px;
}

/* box shadow when you move the mouse over the flip box container */
.flip-card2:hover {
  box-shadow: 2px 2px 7px 1px #FAF3F3;
}


.flip-card-front2 {
  text-align: center;
  float: center;
  background-color: #CA3E47;
  padding-top: 10%;
  border-radius: 9px;
}
.cardPic2 {
  height: 350px;
  width: 450px;
}


 @media only screen and (max-width: 900px) {
   body{
  text-align: center;
  }

   header {
       font-size: 15px;
       line-height: 17px;
   }
    h1 {
       left: .10%;
   }
   #cardPic{
  width: 100%;
  height: auto;
   }

   .buttons{
      font-size: 25px;
     line-height: 25px;
     padding: 10px;
   }
 }
